name: Build

on:
  push:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup net10.0
      uses: actions/setup-dotnet@v4
      with:   
        dotnet-version: 10.0.x
    - name: Build dotnet-set-version to use for bootstrapping
      run: dotnet build dotnet-set-version.csproj -c Release
    - name: Compute Version
      run: echo "version_number=1.3.${{ github.run_number }}" >> $GITHUB_ENV
    - name: Set the version using the initial build
      run: dotnet run -f net10.0 ${{ env.version_number }}
    - name: Rebuild to get a version with that version number
      run: dotnet build dotnet-set-version.csproj -c Release
    - name: Package
      run: dotnet pack dotnet-set-version.csproj -c Release
    - name: Publish
      run: dotnet nuget push ./nupkg/dotnet-set-version.${{ env.version_number }}.nupkg -k ${{ secrets.NUGET_API_KEY }} -s https://api.nuget.org/v3/index.json
